body{
  max-width: 1440px;
}
.section1{
  background-color:#224586;
  min-width: 860px;
  min-height: 120px;
}
.section2{
  background:#2648A1;
  min-width: 860px;
  padding: 75px;
}.section3{

}
.section4{
}
.section5{
  background: rgba(210, 220, 233, 0.15);
}
.divsection1{
  font-family: 'Inter', sans-serif;
  padding-left: 75px;
  padding-right: 75px;
  max-width:1156px;
  color:#F9FAFC;
  display:flex;
  margin:auto;
}
.cabecalho1{
  width: 84px;
  padding-top: 37px;
}
.cabecalho2{
  margin-left: auto;
  font-size: 14px;
  line-height: 140%;
}
.rede{
  font-size: 12px;
  Line-height: 12px;
}
.tisse{
  font-weight: 700 ;
  font-size :31px;
  Line-height :43px;
}
.s1menu{
  display: flex;
  margin-top: 44px;
}
.icons1{
  height: 20.17px;
}
.s1icon{
  margin-left: 20px;
  Line-height :49px;
}
.s1m{
  margin-left: 20px;
  Line-height :43px;
}





.divsection2{ background:url("https://th.bing.com/th/id/R.b96e1d898527719becab40c9242d43bd?rik=doyRlJggV01TMw&pid=ImgRaw&r=0") no-repeat right;
  max-width:1156px;
  height: 722px;
  padding: auto;
  margin: auto;
}
.h1{
  background:#2648A1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #F2F2F2;
  width: 560px;
  
}
.texto1{
  background:#2648A1;
  width: 560px;
  font-family: 'Inter', sans-serif;
  color:#F9FAFC;
  font-size: 21px;
  line-height: 29px;
}
.botao1{
  background-color:#FAB900;
  color:#2648A1;
  font-family: 'arial';
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  padding: 10px 35px;
  border-radius: 5px;
  border: 0px;
}
.s2bloco{

}



.divsection3{
  max-width:1146px;
  padding-left: 75px;
  padding-right: 75px;
  margin:auto;
}
.h3{
  color:#273444;
}
h7{
  color:#2648A1;
  display:block;
}
h9{
 color:#2648A1;
  text-decoration-line: underline;
  
}
.texto2{
  color:#3C4858;
}
.botao2{
  color:#2648A1;
  border:solid 1px;
}



.divsection4{
  max-width:1146px;
  padding-left: 75px;
  padding-right: 75px;
  margin:auto;
}
.blocos4{
  margin-left:auto;
  margin-right:auto;
  min-height: 217px;
}
.pbloco4{
  border:solid 1px ;
  display:inline-block;
  width: 263px;
}
.pbloco4:first-child{
  border:solid 1px #FDB32F ;
  background-color:#FDB32F;
  display:inline-block;
  width: 263px;
}




.divsection5{
  max-width:1156px;
  margin:auto;
}
.s5blocos{

}
.ufrn{
  font-family: 'arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line:underline;
  color: #2648A1;
  width: 340px;
}
.s5img{
  width: 362px;
  height: 271px;
}
.pbloco5{
  display: inline-block;
}
.pbloco5:nth-child(2){
  margin: 0px 31px 0px 31px;
}
.vertodas{
  display:inline-block;
  text-decoration-line: underline;
  color:#2648A1;
}

.botao3{
  background: rgba(210, 220, 233, 0.15);
  border-radius: 5px;
}
.botao4{
  background: #2648A1;
  color: #FFFFFF;
  border-radius: 5px;
}
